INRODUCTION TO DATAFRAMES

In [2]:
#data frames- multi column data where each column represents a different variable ,it's a collection of many series
#every column contains data of its own data type
#we use two points of refernce, one from the row and one from column
#we can preserve data contistency

#1 Construct a dataframe from a dictionary of lists

In [8]:
import pandas as pd
data = {'PRODUCT NAME': ['Product A','Product B','Product C','Product D'], 'PRODUCT PRICE': [1000,2000,4000,4500.5000]}
df = pd.DataFrame(data)
df

  PRODUCT NAME  PRODUCT PRICE
0    Product A         1000.0
1    Product B         2000.0
2    Product C         4000.0
3    Product D         4500.5

#2 Construct a dataframe from a dictionary of lists +specify an index

In [9]:
data = {'PRODUCT NAME': ['Product A','Product B','Product C','Product D'], 'PRODUCT PRICE': [1000,2000,4000,4500.5000]}
df = pd.DataFrame(data , index = ['A','B','C', 'D'])
df

  PRODUCT NAME  PRODUCT PRICE
A    Product A         1000.0
B    Product B         2000.0
C    Product C         4000.0
D    Product D         4500.5

#3 Construct a dataframefrom a list of dictionaries

In [12]:
data =[ {'PRODUCT NAME': 'Product A' , 'PRODUCT PRICE': 1000},
         {'PRODUCT NAME': 'Product B' , 'PRODUCT PRICE': 2000},
           {'PRODUCT NAME': 'Product C' , 'PRODUCT PRICE': 4000},
             {'PRODUCT NAME': 'Product D' , 'PRODUCT PRICE': 5000}]
df = pd.DataFrame(data)
df

  PRODUCT NAME  PRODUCT PRICE
0    Product A           1000
1    Product B           2000
2    Product C           4000
3    Product D           5000

#4 Construct a dataframe from a dictionary of pandas series

In [13]:
ser_products = pd.Series(['Product A','Product B','Product C','Product D'])
ser_prices = pd.Series([1000,2000,4000,4500.5000])
data = {'Product Name': ser_products, 'Product Price': ser_prices}
df = pd.DataFrame(data)
df

  Product Name  Product Price
0    Product A         1000.0
1    Product B         2000.0
2    Product C         4000.0
3    Product D         4500.5

#5 Construct a dataframe from a list of lists

In [15]:
data = [['Product A': 1000], ['Product B': 2000],['Product C': 4500],['Product D': 5000]]
df = pd.DataFrame(data)
df

  Product Name  Product Price
0    Product A         1000.0
1    Product B         2000.0
2    Product C         4000.0
3    Product D         4500.5

#6 Construct a dataframe in a professional way

In [2]:
#df = pd.DataFrame(data = [['Product A': 1000], ['Product B': 2000],['Product C': 4500],['Product D': 5000]],
                 columns =['Product name', 'Product price'],
                 index = 'A','B','C')

IndentationError: unexpected indent (<ipython-input-2-b663f0040578>, line 2)

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31